.social-icons {
  margin-top: 25px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.social-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  transform: scale(1.15);
  color: #2563eb; /* nice blue hover */
}
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.primary-btn {
  background-color: #2563eb; /* blue button */
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #1e4fcf;
}

.outline-btn {
  background-color: transparent;
  color: #2563eb;
  padding: 12px 22px;
  border: 2px solid #2563eb;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.outline-btn:hover {
  background-color: #2563eb;
  color: white;
}
