.projects {
  padding: 60px 20px;
  text-align: center;
}

.projects-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 25px;
  max-width: 1250px;
  margin: auto;
}

.project-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  box-shadow: 0 3px 10px rgba(0,0,0,0.06);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-img img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  background: #f3f3f3;
}

.project-content {
  text-align: left;
  padding: 20px 25px;
}

.project-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.project-content p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tech-tags {
  margin-bottom: 20px;
}

.tech-tags span {
  display: inline-block;
  background: #eef2ff;
  color: #4a67ff;
  padding: 6px 14px;
  border-radius: 8px;
  margin: 5px 6px 0 0;
  font-size: 14px;
  font-weight: 500;
}

.project-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 10px 0;
  font-weight: 600;
  border-radius: 10px;
  border: 1.5px solid #d1d5db;
  transition: 0.3s ease;
}

.demo {
  color: #3b5bff;
  border-color: #3b5bff;
}

.demo:hover {
  background: #3b5bff;
  color: white;
}

.code:hover {
  background: #eee;
}
